body {
    background-color: #f8f8f8;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear{
    clear: both;
}

#wrapper {
    width: 100%;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 200px;
    }
}

section {
    padding: 0 15px;
}

@media(min-width:768px) {
    section {
        position: inherit;
        margin: 0 0 0 200px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

footer {
    margin-top: 50px;
}